In [1]:
file_name = "stations_data.txt"

In [2]:
# #fancy way of having an extra directory for absolutely no reason.
# #Directory trees are created. Ignore errors if they already exist.
# file_name = "data/stations_data.txt"
# file_CSV_name = "data/stations_data.csv"
# directory_name = "data"
# import os
# os.makedirs(directory_name,exist_ok = True) # it does not complain if the dir already exists.

In [3]:
import pandas as pd

In [4]:
import codecs

In [5]:
#from the text file Stations_id von_datum bis_datum Stationshoehe geoBreite geoLaenge Stationsname Bundesland Abgabe

In [6]:
col_names = ["Station_id","date_from","date_to","altitude","latitude", "longitude","name","state","tax?"]

col_names

['Station_id',
 'date_from',
 'date_to',
 'altitude',
 'latitude',
 'longitude',
 'name',
 'state',
 'tax?']

In [7]:
dataframe = pd.read_fwf(
    file_name,
    encoding="cp1252",              # handles German special characters
    header=0,                       # use the first line as column names
    skiprows=[0,1],                 # skip the second dashed line other wise it would give an error (Confusing to Python)
    #P.S Row 1 is the 2nd Row ! ... starts from 0
    #you would have to skip row 0 .. which is first Row     
    names = col_names,
    parse_dates=["date_from", "date_to"],
    #index_col="Station_id" can't be done of course because the values repeat an index value can't be repeated has to be like an ID basically
)

In [8]:
# dataframe1 = pd.read_csv(
#     file_name,
#     encoding="cp1252",
#     delim_whitespace=True,   # tell pandas to treat spaces as separators
#     header=0,                # use first row as column names
#     skiprows=[1],            # skip the dashed line
    
#     parse_dates=["von_datum", "bis_datum"],
#     index_col="Stations_id"
# )


#Would not workkkkkkkk because spaces exist in names !!! so how can space be used as a delimiter between coloumns

In [9]:
dataframe

,Station_id,date_from,date_to,altitude,latitude,longitude,name,state,tax?
0,3,1851-01-01,2010-12-31,202,50.7827,6.0941,Aachen,Nordrhein-Westfalen,Frei
1,44,1972-01-01,2024-12-31,44,52.9336,8.2370,GroÃŸenkneten,Niedersachsen,Frei
2,52,1973-01-01,2001-12-31,46,53.6623,10.1990,Ahrensburg-Wulfsdorf,Schleswig-Holstein,Frei
3,61,1976-01-01,1977-12-31,339,48.8443,12.6171,Aiterhofen,Bayern,Frei
4,70,1974-01-01,1985-12-31,712,48.2052,9.0371,Albstadt-Ebingen,Baden-WÃ¼rttemberg,Frei
...,...,...,...,...,...,...,...,...,...
1215,19940,1967-01-01,1979-12-31,31,52.6069,11.8800,Stendal/Altmark,Sachsen-Anhalt,Frei
1216,19985,1981-01-01,2003-12-31,455,48.8457,8.9073,Weissach/Strudelbach,Baden-WÃ¼rttemberg,Frei
1217,19989,1881-01-01,2011-12-31,147,50.0681,8.2603,Wiesbaden (SÃ¼dost),Hessen,Frei
1218,20007,1881-01-01,1934-12-31,332,50.8422,12.8770,Chemnitz-Altendorf,Sachsen,Frei
1219,20098,2026-01-01,2024-12-31,19,48.5651,8.2284,Seebach (Nationalpark Schwarzw,Baden-WÃ¼rttemberg,Frei

Again : ) "Station_id" can't be an index col. because the values repeat an index value can't be repeated has to be like an ID basically

To confirm:

In [10]:
dataframe["Station_id"].duplicated().any() #yup ...it indeed repeats

np.False_

In [11]:
file_CSV_name = "stations_data.csv"

In [12]:
dataframe.to_csv(file_CSV_name,sep =";") # fancy extra thing to save the file as a CSV for absolutely no reason