In [1]:
file_name = "stations_data.txt"

In [2]:
# #fancy way of having an extra file again for absolutely no reason.
# #Directory trees are created. Ignore errors if they already exist.
# file_name = "data/stations_data.txt"
# file_CSV_name = "data/stations_data.csv"
# directory_name = "data"
# import os
# os.makedirs(file_name,exist_ok = True) # it does not complain if the dir already exists.

In [3]:
import pandas as pd

In [4]:
import codecs

In [5]:
#from the text file Stations_id von_datum bis_datum Stationshoehe geoBreite geoLaenge Stationsname Bundesland Abgabe

In [6]:
col_names = ["Station_id","date_from","date_to","altitude","latitude", "longitude","name","state"]

col_names

['Station_id',
 'date_from',
 'date_to',
 'altitude',
 'latitude',
 'longitude',
 'name',
 'state']

In [7]:
dataframe = pd.read_fwf(
    file_name,
    encoding="cp1252",              # handles German special characters
    header=0,                       # use the first line as column names
    skiprows=[0,1],                 # skip the second dashed line other wise it would give an error (Confusing to Python)
    #P.S Row 1 is the 2nd Row ! ... starts from 0
    #you would have to skip row 0 .. which is first Row     
    names = col_names,
    parse_dates=["date_from", "date_to"],
    #index_col="Station_id" can't be done of course because the values repeat an index value can't be repeated has to be like an ID basically
)

C:\Users\amr_d\AppData\Local\Temp\ipykernel_20668\3993142827.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dataframe = pd.read_fwf(

In [8]:
# dataframe1 = pd.read_csv(
#     file_name,
#     encoding="cp1252",
#     delim_whitespace=True,   # tell pandas to treat spaces as separators
#     header=0,                # use first row as column names
#     skiprows=[1],            # skip the dashed line
    
#     parse_dates=["von_datum", "bis_datum"],
#     index_col="Stations_id"
# )


#Would not workkkkkkkk because spaces exist in names !!! so how can space be used as a delimiter between coloumns

In [9]:
dataframe

,Station_id,date_from,date_to,altitude,latitude,longitude,name,state
3,18510101,2010-12-31,202,50.7827,6.0941,Aachen,Nordrhein-Westfalen,Frei
44,19720101,2024-12-31,44,52.9336,8.2370,GroÃŸenkneten,Niedersachsen,Frei
52,19730101,2001-12-31,46,53.6623,10.1990,Ahrensburg-Wulfsdorf,Schleswig-Holstein,Frei
61,19760101,1977-12-31,339,48.8443,12.6171,Aiterhofen,Bayern,Frei
70,19740101,1985-12-31,712,48.2052,9.0371,Albstadt-Ebingen,Baden-WÃ¼rttemberg,Frei
...,...,...,...,...,...,...,...,...
19940,19670101,1979-12-31,31,52.6069,11.8800,Stendal/Altmark,Sachsen-Anhalt,Frei
19985,19810101,2003-12-31,455,48.8457,8.9073,Weissach/Strudelbach,Baden-WÃ¼rttemberg,Frei
19989,18810101,2011-12-31,147,50.0681,8.2603,Wiesbaden (SÃ¼dost),Hessen,Frei
20007,18810101,1934-12-31,332,50.8422,12.8770,Chemnitz-Altendorf,Sachsen,Frei
20098,20260101,2024-12-31,019,48.5651,8.2284,Seebach (Nationalpark Schwarzw,Baden-WÃ¼rttemberg,Frei

In [10]:
dataframe["Station_id"].duplicated().any() #yup ...it indeed repeats

np.True_

In [11]:
file_CSV_name = "stations_data.csv"

In [12]:
dataframe.to_csv(file_CSV_name,sep =";") # fancy extra thing to save the file as a CSV for absolutely no reason